@import "./styles.scss";

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  line-height: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: $main-color;
  background-color: #fafbff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 335px;

  @include mobileScreen {
    width: 365px;
  }

  @include tabletScreen {
    width: 734px;
    display: flex;
    justify-content: space-between;
  }

  @include desktopScreen {
    width: 1345px;
  }
}

main {
  padding-top: 37px;
}

.active {
  background-color: $nav-hover-color;
}

.active .nav-link-icon {
  stroke: $nav-hover-text-color;
}

.active .nav-link-text {
  color: $nav-hover-text-color;
}
