$main-color: #292d32;
$secondary-color: #b5b7c0;
$title-color: #000;
$nav-text-color: #9197b3;
$nav-hover-text-color: #fff;
$nav-hover-color: #5932ea;
$active-customer-border: #00b087;
$active-customer-background: rgba(22, 192, 152, 0.38);
$active-customer-text: #008767;
$page-color: #404b52;
$main-transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
$second-title-color: #838383;
$customers-active-color: #16c098;
$customers-active-background-color: rgba(22, 192, 152, 0.38);
$customers-inactive-color: #df0404;
$customers-inactive-background-color: #ffc5c5;
